.formControl{

}

.formControl.error input,
.formControl.error textarea{
    border: solid 1px red;
}

.formControl.error span{
    color: brown;
}

.formControlSummaryError {
    border: brown 1px solid;
    padding: 5px;
    color: crimson;
}